<div class="work-feature-block row">
  <img class="work-feature-block-image" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="2">
  <h2 class="work-feature-block-header text-center"><strong>Ivysaur</strong></h2>
</div>
<div class="work-feature-block row">
  <div class="col-xs-12">
    <label>Peso:</label>
    <p>You need complete with pokemon's weight</p>
    <label>Altura:</label>
    <p>You need complete with pokemon's height</p>
    <label>Habilidades:</label>
    <p>You need complete with pokemon's abilities</p>
    <label>Movimientos:</label>
    <p>You need complete with pokemon's movements</p>
  </div>
</div>
<div class="row">
  <%= link_to root_path, class:"btn btn-success btn-lg btn-block" do%>
    Volver
  <%end%>
</div>
